.what_we_do_section {
  padding-top: 0;

  &__table {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__photo {
    position: relative;
  }
  &__description {
    background-color: $whatWeDoBgColor;
    font-family: $robotoFontFamily;
    font-weight: 700;
    font-size: 14px;
    color: $whiteColor;
    position: absolute;
    inset: 224px 0 4px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 22px;
    z-index: 1;
  }
}
